<div class="bg-white py-8">
  <ul role="list" class="overflow-y-auto max-h-[48vh] flex flex-col-reverse">
    <%= turbo_stream_from :chat_messages %>
    <div id="<%= dom_id(@chat, "messages") %>">
      <%= render @chat.messages %>
    </div>
  </ul>

  <%= render partial: "messages/form", locals: { chat: @chat } %>
</div>